bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/


.idea/
*.sln.iml
.wakatime.cfg


.vs/
*.suo
*.user
*.userosscache
*.sln.docstates


appsettings.Development.json
appsettings.json
*.usersecrets

*.nuget.props
*.nuget.targets
packages/
project.lock.json
project.assets.json

*.log
logs/
log/

.dockerignore
.docker/

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini